@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


.bg-img{
    height: 50vh;
    min-height: 300px;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(0.7);
}

.img-resize {
    height: 500px;
    width: 350px;
    object-fit: cover;
    object-position: center center;
    display: block;
    margin: auto;
}

.img-blocks {
    height: 500px;
    width: 750px;
    object-fit: cover;
    object-position: center center;
    display: block;
    margin: auto;
}

.jumbotron{
    background-image: url("../img/image14.jpg");
    background-size: cover;
    background-position: center ;
    border-radius: 0 !important;
}


nav .navbar-nav li a{
    color: white !important;
    }

.navbar-brand {
    filter: brightness(1.1);
}

.navbar a{
    font-size: 20px;
    font-family: poppins;

}


.col-6 {
    overflow-x: hidden;
    overflow-y: hidden;
}
.col-4 {
    overflow-x: hidden;
    overflow-y: hidden;
}

.col-3 {
    overflow-x: hidden;
    overflow-y: hidden;
}

.btn {
    font-family: poppins;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 252, 252);
    border-radius: 8px;
    padding: 12px 30px;
    border: 3px solid #ffffff;
    box-shadow: 0 0 0 #fec1958c;
}


/*--Form Login--*/
.form-login, .already-account{
    font-family: 'Jost', sans-serif;
}

.form-text{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-top: 20px;
}

