@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


.navbar a {
    font-size: 20px;
    font-family: poppins;

}

.img-blocks {
    height: 500px;
    width: 400px;
    object-fit: cover;
    object-position: center center;
    display: block;
    margin: auto;
}

.col-6 {
    overflow-x: hidden;
    overflow-y: hidden;
}
.col-4 {
    overflow-x: hidden;
    overflow-y: hidden;
}

.col-3 {
    overflow-x: hidden;
    overflow-y: hidden;
}

button {
    font-family: poppins;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 252, 252);
    border-radius: 8px;
    padding: 10px 22px;
    border: 3px solid #ffffff;
    box-shadow: 0 0 0 #fec1958c;
    margin-bottom: 30px;
    
}
.btn:hover {
    background-color: black;
}

.jumbotron{
    background-image: url("../img/image14.jpg");
    background-size: cover;
    background-position: center ;
    border-radius: 0 !important;
}


h1 {
    font-family: poppins;
  }

  p {
    font-family: poppins;
    margin-left: 10px;
  }

  h5 {
    font-family: poppins;
    margin-top: 20px;
    margin-left: 10px;
  }